{% extends 'main_sample/base.html'%}

{% block title %}
Главная страница
{% endblock %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-2 py-2">
    <div class="row align-items-center g-lg-2 py-5">
      <div class="col-lg-auto text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Сервис "Пользователи"</h1>
        <p class="col-lg-auto fs-4">На данном ресурсе можно создать пользователя и посмотреть список созданных в
        разделе "Пользователи"</p>
      </div>
    </div>
</div>

{% endblock %}

