<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <div class="logo">СПИЧ +</div>
    <div class="user-menu">
      <div>Пользователь</div>
      <div class="user-hamburger-menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </header>
  <nav class="sidebar">
    <a href="/" class="d-flex align-items-center mb-3 text-decoration-none">
    </a>
    <hr>
    <select class="form-select d-flex align-items-center mb-3 text-decoration-none" id="section" required="">
      <option>Верейская 29</option>
      <option>Мытищи</option>
      <option>Тушино</option>
    </select>
    <ul>
      <li>
        <a href="#" class="d-flex align-items-center text-decoration-none">
          <!-- Здесь можно добавить SVG-иконку -->
          Квартирография
        </a>
      </li>
      <li>
        <a href="#" class="d-flex align-items-center text-decoration-none">
          <!-- Здесь можно добавить SVG-иконку -->
          Настройки
        </a>
      </li>
      <!-- Добавьте другие элементы списка по аналогии -->
      <li>
        <a href="#" class="d-flex align-items-center text-decoration-none">
          <!-- Здесь можно добавить SVG-иконку -->
          Модель
        </a>
      </li>
    </ul>
    <hr>
    <!-- Здесь можно добавить блок с аватаркой и выпадающим меню -->
    <div class="toggle-btn">&lt;</div>
  </nav>

  <div class="gap-2 justify-content-center py-5 ">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content-wrapper">
            <div class="row">
              <!-- Колонка для наименования -->
              <div class="col-md-3 left-content mb-4 border rounded">
                <h3 class="mb-3">Верейская 29 UB9</h3>
                <hr>
                <p class="text-muted mb-2">
                  <em>VRSK_UB9</em>
                </p>
                <dl class="row mb-2">
                  <dt class="col-sm-4 font-weight-bold">Наименование объекта:</dt>
                  <dd class="col-sm-8">Многофункциональный жилой комплекс ПУЛ 9 Этап</dd>

                  <dt class="col-sm-4 font-weight-bold">Адрес:</dt>
                  <dd class="col-sm-8">г. Москва, ЗАО, Район Можайский, ул. Верейская, влд. 29</dd>

                  <dt class="col-sm-4 font-weight-bold">Кадастровый номер:</dt>
                  <dd class="col-sm-8">отсутствует</dd>

                  <dt class="col-sm-4 font-weight-bold">Заказчик:</dt>
                  <dd class="col-sm-8">MR-Group</dd>


                  <dl class="row mb-2">
                    <dt class="col-sm-4 font-weight-bold">Стадия:</dt>
                    <dd class="col-sm-8 d-flex gap-1">
                      <span class="badge bg-secondary rounded-pill ms-2">АК</span>
                      <span class="badge bg-secondary rounded-pill">КК</span>
                      <span class="badge bg-secondary rounded-pill">ПД</span>
                      <span class="badge bg-success rounded-pill">РД</span>
                    </dd>
                  </dl>

                  <dl class="row mb-2">
                    <dt class="col-sm-4 font-weight-bold">График выдачи:</dt>
                    <dd class="col-sm-8 d-flex gap-1 badge-wrapper">
                      <span class="badge bg-secondary rounded-pill ms-2">23/01/23 АК</span>
                      <span class="badge bg-secondary rounded-pill">12/03/23 КК</span>
                      <span class="badge bg-secondary rounded-pill">01/05/23 П1</span>
                      <span class="badge bg-secondary rounded-pill">20/07/23 П2</span>
                      <span class="badge bg-secondary rounded-pill ms-2">23/09/23 П3</span>
                      <span class="badge bg-success rounded-pill">10/12/23 ТД</span>
                    </dd>
                  </dl>


                  <dt class="col-sm-4 font-weight-bold">Ссылка на проект:</dt>
                  <dd class="col-sm-8"><a href="file:///C:/rabota/" target="_blank">C:/rabota/</a></dd>

                  <dl class="row mb-2">
                    <dt class="col-sm-4 font-weight-bold">Участники:</dt>
                    <dd class="col-sm-8">
                      <div class="mb-2">
                        <span class="badge bg-secondary rounded-pill ms-2">РП</span> Баршев
                      </div>
                      <div class="mb-2">
                        <span class="badge bg-secondary rounded-pill ms-2">ГИП</span> Макухин
                      </div>
                      <div class="mb-2">
                        <span class="badge bg-secondary rounded-pill ms-2">ГАП</span> Каргин
                      </div>
                      <div class="mb-2">
                        <span class="badge bg-secondary rounded-pill ms-2">Архитекторы</span> Христов, Галкина
                      </div>
                      <div class="mb-2">
                        <span class="badge bg-secondary rounded-pill ms-2">BIM менеджер</span> Пестрикова
                      </div>
                    </dd>
                  </dl>


                </dl>
                <p class="text-muted">
                  <em>Короткое описание объекта</em>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container_2">
    <!-- Колонка для карты -->
    <div class="google-map col-md-auto ">
      <iframe width="450" height="520" src="https://www.openstreetmap.org/export/embed.html?bbox=37.41674430267334%2C55.695406166152736%2C37.45588309661865%2C55.71409805852334&amp;layer=mapnik&amp;marker=55.70475322994488%2C37.43631369964601" style=""></iframe>
    </div>
  </div>

  <div class="dropdown-menu">
    <a href="#">Аккаунт</a>
    <a href="#">Уведомления</a>
    <a href="#">Выйти</a>
  </div>
  <script src="scripts.js"></script>
</body>

</html>