{% extends 'main_sample/base.html' %}

{% block content %}
    <h2>Список пользователей</h2>
    <a href="{{ url_for('add_user') }}" class="btn btn-primary mb-2">Добавить пользователя</a>
    <table class="table">
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="#" data-toggle="modal" data-target="#userModal{{ user.id }}">{{ user.username }}</a></td>
                    <td>{{ user.email }}</td>
                    <td><button class="btn btn-primary"
                                data-toggle="modal" data-target="#userModal-{{ user.id }}">Подробнее</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {% for user in  users %}
    <div class="modal fade" id="userModal-{{ user.id }}" tabindex="-1" aria-labelledby="userModalLabel-{{ user.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel-{{ user.id }}">Информация о {{ user.username }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <strong>Имя пользователя:</strong> {{ user.username }}<br>
                    <strong>Email:</strong> {{ user.email }}
                </div>

                <div class="user-roles  d-flex justify-content-left py-2 pl-3">
                    {% if user.is_admin %}
                        <span class="badge bg-danger text-white rounded-pill mr-1">Удаление</span>
                    {% endif %}
                    {% if user.is_editor %}
                        <span class="badge bg-warning text-white rounded-pill mr-1">Редактирование</span>
                    {% endif %}
                    {% if user.can_create_users %}
                        <span class="badge bg-primary text-white rounded-pill mr-1">Создание</span>
                    {% endif %}
                    <!-- Добавьте сюда другие роли по мере необходимости -->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <a href="{{ url_for('edit_user', user_id=user.id) }}" class="btn btn-warning">Изменить</a>
                    <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn btn-danger">Удалить</a>

                </div>

            </div>
        </div>
    </div>
    {% endfor %}


{% endblock %}


